# Environment
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URL=mongodb+srv://<YOUR_MONGO_USER>:<YOUR_MONGO_PASS>@cluster0.mongodb.net/<YOUR_DB_NAME>?retryWrites=true&w=majority

# Security
BCRYPT_SALT_ROUNDS=12

# Client
CLIENT_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=<YOUR_ACCESS_SECRET>
JWT_ACCESS_EXPIRE=30d
JWT_REFRESH_SECRET=<YOUR_REFRESH_SECRET>
JWT_REFRESH_EXPIRE=365d
JWT_PASSWORD_RESET_SECRET=<YOUR_PASSWORD_RESET_SECRET>

# Nodemailer (Email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<YOUR_EMAIL>
SMTP_PASS="<YOUR_EMAIL_APP_PASSWORD>"

# Super Admin
SUPERADMINEMAIL=<SUPER_ADMIN_EMAIL>
SUPERADMINPASSWORD=<SUPER_ADMIN_PASSWORD>

# Zoom
ZOOM_ACCOUNT_ID=<YOUR_ZOOM_ACCOUNT_ID>
ZOOM_CLIENT_ID=<YOUR_ZOOM_CLIENT_ID>
ZOOM_CLIENT_SECRET=<YOUR_ZOOM_CLIENT_SECRET>
ZOOM_WEBHOOK_SECRET_TOKEN=<YOUR_ZOOM_WEBHOOK_SECRET>

# MyFatoorah
MYFATOORAH_API_KEY=<YOUR_MYFATOORAH_API_KEY>
MYFATOORAH_BASE_URL=https://apitest.myfatoorah.com
MYFATOORAH_WEBHOOK_SECRET=<YOUR_MYFATOORAH_WEBHOOK_SECRET>